<div class="content">
    <div class="col-sm-12">
        <select (change)="getListOfJobs($event)" style="height: 35px;border: 2px solid #000;width: 300px;float: right;z-index: 9999;">
            <option>Select Job Name</option>
            <option *ngFor="let item of jobList" >{{item.Job_name}}</option>
          </select>
    </div>

    <h3><strong>SOURCE</strong></h3>
    <div class="container" style="min-height: 350px;max-height: 350px; overflow:auto;">
        <div *ngFor="let item of InputData | keyvalue" style="border: solid;height: auto;">
            <ul><span style="color: #1d253b;font-size: 25px;margin-left: -29px;font-weight: 700;">{{item.key}}</span>
                <li *ngFor="let data of item.value | keyvalue">
                    {{data.value.category}}:{{data.value.VALUE}}</li>
            </ul>
        </div>
    </div>
    <br>
    <hr>
    <h3><strong>TRANSFORM</strong></h3>
    <hr>
    <div class="container" style="min-height: 350px;max-height: 350px;overflow:auto;">

        <div *ngFor="let item of TransformData | keyvalue" style="border: solid;height: auto;">
            <ul><span style="color: #1d253b;font-size: 25px;margin-left: -29px;font-weight: 700;">{{item.key}}</span>
                <li *ngFor="let data of item.value | keyvalue">
                    {{data.value.category}}:{{data.value.VALUE}}</li>
            </ul>
        </div>
    </div>
    <br>
    <hr>
    <h3><strong>TARGET</strong></h3>
    <hr>
    <div class="container" style="min-height: 350px;max-height: 350px;overflow:auto; ">
        <div *ngFor="let item of OutputData | keyvalue" style="border: solid;height: auto;">
            <ul><span style="color: #1d253b;font-size: 25px;margin-left: -29px;font-weight: 700;">{{item.key}}</span>
                <li *ngFor="let data of item.value | keyvalue">
                    {{data.value.category}}:{{data.value.VALUE}}</li>
            </ul>
        </div>
    </div>

</div>