<div class="content">
    <h3><strong>SOURCE</strong></h3>
    <div class="container" style="min-height: 350px;max-height: 350px;overflow-y: scroll;">
        <div *ngFor="let item of InputData | keyvalue" class="container" style="border: solid;min-height: 230px;max-height: 230px;overflow-y: scroll;">
            <ul><span style="color: #1d253b;font-size: 25px;margin-left: -29px;font-weight: 700;">{{item.key}}</span>
                <li *ngFor="let data of item.value | keyvalue">
                    {{data.value.category}}:{{data.value.VALUE}}</li>
            </ul>
        </div>
    </div>
    <br>
    <div class="container" style="min-height: 350px;max-height: 350px;overflow-y: scroll;">
        <h3><strong>TRANSFORM</strong></h3>
        <div *ngFor="let item of TransformData | keyvalue" class="container" style="border: solid;min-height: 230px;max-height: 230px;overflow-y: scroll;">
            <ul><span style="color: #1d253b;font-size: 25px;margin-left: -29px;font-weight: 700;">{{item.key}}</span>
                <li *ngFor="let data of item.value | keyvalue">
                    {{data.value.category}}:{{data.value.VALUE}}</li>
            </ul>
        </div>
    </div>
    <br>
    <div class="container" style="min-height: 350px;max-height: 350px;overflow-y: scroll;">
        <h3><strong>TARGET</strong></h3>
        <div *ngFor="let item of OutputData | keyvalue" class="container" style="border: solid;min-height: 230px;max-height: 230px;overflow-y: scroll;">
            <ul><span style="color: #1d253b;font-size: 25px;margin-left: -29px;font-weight: 700;">{{item.key}}</span>
                <li *ngFor="let data of item.value | keyvalue">
                    {{data.value.category}}:{{data.value.VALUE}}</li>
            </ul>
        </div>
    </div>

</div>