<div class="content">
    <button style="float:right; z-index: 999;" type="button" (click)="navigateToRTL()" class="btn btn-default">
        Proceed
    </button>
    <div class="container-fluid">
        <div class="col-lg-12">
            <div class="col-lg-6" *ngIf="nodes && nodes.length > 0">
                <h3><strong>NAMING CONVENTIONS</strong></h3>
                <tree-root id="tree1" (select)="onSelect($event)" (deselect)="onDeselect($event)" [nodes]="nodes" [options]="options">
                </tree-root>
            </div>
            <br />
            <br />
            <div class="col-lg-6" *ngIf="nodes && nodes.length > 0">
                <h3><strong>BEST PRACTICES</strong></h3>
                <tree-root id="tree2" (select)="onSelectBestPractice($event)" (deselect)="onDeselectBestPractice($event)" [nodes]="nodes" [options]="options">
                </tree-root>
            </div>
        </div>
    </div>
</div>